
@{
    ViewBag.Title = "Cart";
}

@Styles.Render("~/bundles/css/Cart")

<div class="container">
    <ol class="row cartProcess">
        <li class="breadcrumb-item"><a href="#">購物車與結帳</a></li>
        <a class="breadcrumb-item active" aria-current="page" href="#">訂購完成</a>
        <!-- 文字無法貼齊 -->
    </ol>
</div>
<div class="container bg-white">
    <div class="cartContent p-3">
        <div>
            <h2>購物車</h2>
        </div>
        <hr />
        <div class="table-box">

            <div class="text-center statistics d-flex">

                <div id="checkbox" class="col-1 d-flex flex-wrap align-items-center">
                    <p class="w-100"></p>
                </div>
                <div id="productImg" class="col-2 d-flex flex-wrap">
                    <P class="w-100">圖片</P>
                </div>
                <div id="productTitle" class=" w-100 col-3 d-flex flex-wrap">
                    <p class="w-100">票券簡介</p>
                    <p id="intro"></p>
                </div>
                <div id="orderDay" class=" w-100 col-2 d-flex flex-wrap" ">
                    <p class="w-100">訂購日期</p>
                </div>
                <div id="unit" class="col-1 d-flex flex-wrap">
                    <p class="w-100">張數</p>
                </div>
                <div id="totalPrice" class="col-2 d-flex flex-wrap">
                    <p class="w-100">總價</p>
                </div>
                <div id="deleteCan" class="col-1 d-flex flex-wrap">
                    <p class="w-100">刪除</p>
                </div>
            </div>

            <hr>
        </div>
        <div class="d-flex align-item-end justify-content-end">
            <input id="gopay" type="button" value="前往結帳" class="btn btn-primary">
        </div>
    </div>

    @*合併結帳頁*@
    <div class="cartContent p-3">
        <div class="mt-5">
            <h2>付款明細</h2>
        </div>
        <hr>
        <div class="moneyBox container">
            @*帳單細項*@
        </div>
        <hr>
        <div id="accountCheck" class="d-flex justify-content-end account">

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/js/Cart")
</div>