<div class="col-md-12">
    <h2>後台管理系統 / 報表分析</h2>
</div>

<div class="view">
    <div class="card col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="memberChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="storeChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
           
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="orderChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="ticketChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>
</div>

