@model TicketHubApp.Models.ViewModels.RecommenCardViewModel

<div class="owl-item active">
    <div class="col-md-12">
        <div class="product-item">
            <a href="">
                <div class="product-img">
                    <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                         src="@Model.ImgPath">
                </div>
            </a>
            <div class="product-detail">
                <input type="hidden" value="@Model.Id">
                <h3 id="Title">@Model.Title</h3>
                <div class="review-score product-star mb-2 text-center">
                    <div class="review-score product-star">
                        <span class="iconify" data-icon="bi:star-fill"
                              data-inline="false"></span>
                        <span class="iconify" data-icon="bi:star-fill"
                              data-inline="false"></span>
                        <span class="iconify" data-icon="bi:star-fill"
                              data-inline="false"></span>
                        <span class="iconify" data-icon="bi:star-fill"
                              data-inline="false"></span>
                        <span class="iconify" data-icon="bi:star-fill"
                              data-inline="false"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="priceBox">
                            <div class="price d-flex">
                                <div class="original line-through ml-auto">$@Model.OriginalPrice</div>
                                <div class="current">
                                    <span id="DiscountPrice">$@Model.DiscountPrice</span>
                                    <span class="t-09">起</span>
                                </div>
                            </div>
                            <div class="Remaining">剩37份</div>
                        </div>
                    </div>
                </div>
                <div class="addcart addCart2" id="addCart2" type="button">放入購物車</div>
            </div>
        </div>
    </div>
</div>
