
<div class="owl-item active">
    <div class="col-md-12">
        <div class="product-item">
            <a href="">
                <div class="product-img">
                    <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                         src="https://picsum.photos/400/400/?random=3" style="">
                </div>
                <div class="product-detail">
                    <h3>台北君悅酒店-凱菲屋</h3>
                    <div class="review-score product-star mb-2 text-center">
                        <div class="review-score product-star">
                            <span class="iconify" data-icon="bi:star-fill"
                                  data-inline="false"></span>
                            <span class="iconify" data-icon="bi:star-fill"
                                  data-inline="false"></span>
                            <span class="iconify" data-icon="bi:star-fill"
                                  data-inline="false"></span>
                            <span class="iconify" data-icon="bi:star-fill"
                                  data-inline="false"></span>
                            <span class="iconify" data-icon="bi:star-fill"
                                  data-inline="false"></span>
                            <span class="">(1553)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                            <div class="priceBox">
                                <div class="price d-flex">

                                    <div class="original line-through ml-auto">$3872</div>
                                    <div class="current">
                                        $2840<span class="t-09">起</span>
                                    </div>
                                </div>
                                <div class="Remaining">剩37份</div>
                            </div>


                        </div>
                    </div>
                    <div class="addcart" type="button">放入購物車</div>
                </div>
            </a>
        </div>
    </div>
</div>