:root {
    --background-white: #{$background-white};
    --favorite: #{$favorite};
    --line-gray: #{$line-gray};
    --paper-white: #{$paper-white};
    --cust-color-1: #{$cust-color-1};
    --cust-color-2: #{$cust-color-2};
    --cust-color-3: #{$cust-color-3};
    --cust-color-4: #{$cust-color-4};
    --cust-color-5: #{$cust-color-5};
    --cust-color-6: #{$cust-color-6};
    --cust-color-7: #{$cust-color-7};
    --cust-color-8: #{$cust-color-8};
    --cust-color-9: #{$cust-color-9};
    --cust-color-10: #{$cust-color-10};
    --cust-color-11: #{$cust-color-11};
    --cust-color-12: #{$cust-color-12};
    --cust-color-13: #{$cust-color-13};
    --cust-color-14: #{$cust-color-14};
    --cust-color-15: #{$cust-color-15};
    --shop-color-1: #{$shop-color-1};
    --shop-color-2: #{$shop-color-2};
    --shop-color-3: #{$shop-color-3};
    --shop-color-4: #{$shop-color-4};
    --shop-color-5: #{$shop-color-5};
    --shop-color-6: #{$shop-color-6};
    --shop-color-7: #{$shop-color-7};
    --shop-color-8: #{$shop-color-8};
    --shop-color-9: #{$shop-color-9};
    --shop-color-10: #{$shop-color-10};
    --shop-color-11: #{$shop-color-11};
    --shop-color-12: #{$shop-color-12};
    --shop-color-13: #{$shop-color-13};
    --shop-color-14: #{$shop-color-14};
    --shop-color-15: #{$shop-color-15};
    --platform-color-1: #{$platform-color-1};
    --platform-color-2: #{$platform-color-2};
    --platform-color-3: #{$platform-color-3};
    --platform-color-4: #{$platform-color-4};
    --platform-color-5: #{$platform-color-5};
    --platform-color-6: #{$platform-color-6};
    --platform-color-7: #{$platform-color-7};
    --platform-color-8: #{$platform-color-8};
    --platform-color-9: #{$platform-color-9};
    --platform-color-10: #{$platform-color-10};
    --platform-color-11: #{$platform-color-11};
    --platform-color-12: #{$platform-color-12};
    --platform-color-13: #{$platform-color-13};
    --platform-color-14: #{$platform-color-14};
    --platform-color-15: #{$platform-color-15};
}
