:root {
  --background: #f5f5f5;
  --favorite: #d87093;
  --line-gray: #adadad;
  --back-paper: #fffefa;
  --cust-color-1: #e4f4f5;
  --cust-color-2: #c8e9ec;
  --cust-color-3: #addee2;
  --cust-color-4: #91d3d8;
  --cust-color-5: #76c9cf;
  --cust-color-6: #5abec5;
  --cust-color-7: #3fb3bc;
  --cust-color-8: #23a8b2;
  --cust-color-9: #1f939c;
  --cust-color-10: #1a7e85;
  --cust-color-11: #16696f;
  --cust-color-12: #125459;
  --cust-color-13: #0d3f43;
  --cust-color-14: #092a2c;
  --cust-color-15: #041516;
  --shop-color-1: #ffe6eb;
  --shop-color-2: #ffced6;
  --shop-color-3: #ffb5c2;
  --shop-color-4: #ff9dad;
  --shop-color-5: #ff8499;
  --shop-color-6: #ff6b85;
  --shop-color-7: #ff5370;
  --shop-color-8: #ff3a5c;
  --shop-color-9: #df3351;
  --shop-color-10: #bf2b45;
  --shop-color-11: #9f2439;
  --shop-color-12: #801d2e;
  --shop-color-13: #601622;
  --shop-color-14: #400e17;
  --shop-color-15: #20070b;
  --platform-color-1: #fef3e2;
  --platform-color-2: #fee6c5;
  --platform-color-3: #fddaa8;
  --platform-color-4: #fdce8b;
  --platform-color-5: #fcc16d;
  --platform-color-6: #fcb550;
  --platform-color-7: #fba833;
  --platform-color-8: #fb9c16;
  --platform-color-9: #dc8913;
  --platform-color-10: #bc7510;
  --platform-color-11: #9d620e;
  --platform-color-12: #7d4e0b;
  --platform-color-13: #5e3b08;
  --platform-color-14: #3f2705;
  --platform-color-15: #1f1403; }

body {
  font-family: 'Noto Sans TC', sans-serif; }

.sidebar {
  background-color: #eee; }
  .sidebar .img-area .img {
    background-image: url("https://picsum.photos/400/400/?random=1");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px; }
    .sidebar .img-area .img .camera {
      display: inline-block;
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: 120px;
      right: 10px; }
  .sidebar .img-area .username {
    font-size: 20px; }
  .sidebar .sidebar-nav > div {
    position: relative;
    transition: .3s; }
    .sidebar .sidebar-nav > div:hover {
      background-color: #addee2;
      cursor: pointer; }
    .sidebar .sidebar-nav > div.focus {
      color: #23a8b2;
      background-color: white; }
      .sidebar .sidebar-nav > div.focus::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 40px;
        top: 12px;
        left: -2px;
        right: 0;
        bottom: 0;
        background-color: #23a8b2; }
    .sidebar .sidebar-nav > div .iconify {
      font-size: 24px; }
  .sidebar .sidebar-nav p {
    margin: 0;
    font-size: 20px; }

.info {
  background-color: #eee; }
  .info .info-area {
    background-color: white; }
  .info h3 {
    display: inline-block;
    border-bottom: 3px solid #23a8b2; }
  .info .container .row {
    transition: .5s; }
    .info .container .row > div {
      border-left: 6px solid #23a8b2; }
      .info .container .row > div > p {
        font-size: 20px;
        margin: 0; }
      .info .container .row > div.my-ticket {
        border: none; }
      .info .container .row > div .edit-icon {
        cursor: pointer;
        font-size: 24px; }
    .info .container .row .wish-Ticket {
      height: 250px; }
      .info .container .row .wish-Ticket .img-area {
        width: 30%; }
      .info .container .row .wish-Ticket .text-area {
        width: 70%; }
      .info .container .row .wish-Ticket .position {
        font-size: 12px;
        color: #adadad; }
      .info .container .row .wish-Ticket .oPrice {
        font-size: 12px;
        text-decoration-line: line-through;
        color: #adadad;
        bottom: 20px;
        right: 20px; }
      .info .container .row .wish-Ticket .nPrice {
        color: #23a8b2;
        bottom: -5px;
        right: 15px; }
      .info .container .row .wish-Ticket .favorite {
        font-size: 20px;
        top: 12px;
        right: 12px;
        color: #125459; }
        .info .container .row .wish-Ticket .favorite:hover {
          cursor: pointer; }
    .info .container .row .order .order-state {
      font-size: 10px;
      top: 8px;
      right: 8px; }
    .info .container .row .order .order-date, .info .container .row .order .total {
      font-size: 14px; }
    .info .container .row .order .productListStatement {
      font-size: 16px;
      border-bottom: 2px solid #23a8b2; }
    .info .container .row .order .ticket {
      border-bottom: 2px solid #23a8b2; }
      .info .container .row .order .ticket:last-child {
        border: none; }
      .info .container .row .order .ticket p {
        font-size: 10px;
        margin-bottom: 4px; }
      .info .container .row .order .ticket .ticket-title {
        font-size: 16px; }
      .info .container .row .order .ticket .ticket-total {
        font-size: 12px; }
    .info .container .row .valid-ticket, .info .container .row .invalid-ticket {
      border-left: 6px solid #23a8b2;
      height: 150px; }
      .info .container .row .valid-ticket .img-area, .info .container .row .invalid-ticket .img-area {
        width: 25%; }
      .info .container .row .valid-ticket .text-area, .info .container .row .invalid-ticket .text-area {
        width: 75%; }
      .info .container .row .valid-ticket .valid-time span, .info .container .row .invalid-ticket .valid-time span {
        color: #23a8b2; }
      .info .container .row .valid-ticket .use-time span, .info .container .row .invalid-ticket .use-time span {
        color: #ff3a5c; }
      .info .container .row .valid-ticket .go-detail, .info .container .row .invalid-ticket .go-detail {
        font-size: 24px;
        color: #adadad;
        top: 55px;
        right: 10px; }
    .info .container .row .favorite-store {
      height: 250px; }
      .info .container .row .favorite-store .img-area {
        width: 30%; }
      .info .container .row .favorite-store .text-area {
        width: 70%; }
      .info .container .row .favorite-store .position, .info .container .row .favorite-store .address, .info .container .row .favorite-store .phone, .info .container .row .favorite-store .openTime {
        font-size: 12px;
        color: #adadad; }
      .info .container .row .favorite-store .favorite {
        font-size: 20px;
        top: 12px;
        right: 12px;
        color: #125459; }
        .info .container .row .favorite-store .favorite:hover {
          cursor: pointer; }

.modal label {
  position: relative; }
  .modal label::before {
    content: "*";
    color: red;
    position: absolute;
    top: 0px;
    left: -7px; }
