@import "_variables.scss";

#imgChoppingArea {
    .loading-page {
        visibility:hidden;
        z-index: 999;
        background-color:$gray-525252;
        .spinner-border{
            width:60px;
            height:60px;
            color:white;
        }
        p{
            font-size:40px;
            color:white;
        }
    }
}


.side-menu {
    .side-menu-Image {
        .userImg {
            background-image: url("https://picsum.photos/400/400/?random=1");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            border-radius: 50%;
            width: 150px;
            height: 150px;

            .camera {
                display: inline-block;
                background-color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: absolute;
                top: 120px;
                right: 10px;
                cursor: pointer;

                i {
                    font-size: 24px;
                    color: $Transparent-gray-2;
                }

                input {
                    display: none;
                }
            }
        }

        .username {
            font-size: 20px;
        }
    }
}

.col-9 {

    h3 {
        display: inline-block;
        border-bottom: 3px solid $cust-color-8;
    }

    .info-area {
        background-color: white;
    }

    .container {

        .edit-btn {
            margin-left: auto;
            margin-right: 40px;
        }

        .row {
            transition: .5s;

            > div {
                // border-top: 1px solid #26BEC9;
                border-left: 6px solid $cust-color-8;
                // border-bottom: 3px solid #26BEC9;
                > p {
                    font-size: 20px;
                    margin: 0;
                }

                &.my-ticket {
                    border: none
                }

                .edit-icon {
                    cursor: pointer;
                    font-size: 24px;
                }
            }

            .wish-Ticket {
                height: 250px;

                .img-area {
                    width: 30%;
                }

                .text-area {
                    width: 70%;
                }

                .position {
                    font-size: 12px;
                    color: $line-gray;
                }

                .oPrice {
                    font-size: 12px;
                    text-decoration-line: line-through;
                    color: $line-gray;
                    bottom: 20px;
                    right: 20px;
                }

                .nPrice {
                    color: $cust-color-8;
                    bottom: -5px;
                    right: 15px;
                }

                .favorite {
                    font-size: 20px;
                    top: 12px;
                    right: 12px;
                    color: $cust-color-12;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .order {

                .order-state {
                    font-size: 10px;
                    top: 8px;
                    right: 8px;
                }

                .order-date, .total {
                    font-size: 14px;
                }

                .productListStatement {
                    font-size: 16px;
                    border-bottom: 2px solid $cust-color-8;
                }

                .ticket {
                    border-bottom: 2px solid $cust-color-8;

                    &:last-child {
                        border: none;
                    }

                    p {
                        font-size: 10px;
                        margin-bottom: 4px;
                    }

                    .ticket-title {
                        font-size: 16px;
                    }

                    .ticket-total {
                        font-size: 12px;
                    }
                }
            }

            .valid-ticket, .invalid-ticket {
                border-left: 6px solid $cust-color-8;
                height: 150px;

                .img-area {
                    width: 25%;
                }

                .text-area {
                    width: 75%;
                }

                .valid-time {
                    span {
                        color: $cust-color-8;
                    }
                }

                .use-time {
                    span {
                        color: $shop-color-8;
                    }
                }

                .go-detail {
                    font-size: 24px;
                    color: $line-gray;
                    top: 55px;
                    right: 10px;

                    &:hover {
                        cursor: pointer
                    }
                }
            }

            .my-ticket {
                p {
                    margin: 0px
                }

                .title {
                    background-color: $cust-color-8;
                    color: white;
                }

                .ticket-id-area {
                    p {
                        margin: 0;
                    }

                    .QRCode {
                        font-size: 10px;
                    }
                }

                .order-detail {
                    p {
                        margin: 0;
                    }
                }
            }

            .favorite-store {
                height: 250px;

                .img-area {
                    width: 30%;
                }

                .text-area {
                    width: 70%;
                }

                .position, .address, .phone, .openTime {
                    font-size: 12px;
                    color: $line-gray;
                }

                .favorite {
                    font-size: 20px;
                    top: 12px;
                    right: 12px;
                    color: $cust-color-12;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.modal {
    label {
        position: relative;

        &::before {
            content: "*";
            color: red;
            position: absolute;
            top: 0px;
            left: -7px;
        }
    }
}
