.banner-img {
  position: relative;
  max-height: 570px;
  overflow: hidden;
  display: flex;
  align-items: center; }

.content-box {
  position: absolute;
  top: 25%;
  left: 28%;
  right: 28%; }
  .content-box .title-block {
    text-align: center;
    background-color: rgba(138, 138, 138, 0.603);
    padding: 20px 50px; }
  .content-box .search-bar {
    background-color: rgba(255, 255, 255, 0.767); }

.dropdown-menu-col-2 {
  column-count: 2; }

.dropdown-menu-col-3 {
  column-count: 3; }

.dropdown-menu-col-4 {
  column-count: 4; }

.card-shop {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #e4f4f5;
  border-radius: 50px;
  margin: 10px 10px;
  outline: none;
  border: 1px solid #74c0d3;
  box-shadow: inset 0px 15px 15px -15px #7cb8c7, inset 0px -15px 15px -15px #7cb8c7, 12px 0 10px -12px #7cb8c7, -12px 0 10px -12px #7cb8c7; }
  .card-shop:hover {
    box-shadow: inset 0px 15px 15px -15px #59a1b3, inset 0px -15px 15px -15px #59a1b3, 12px 0 10px -12px #59a1b3, -12px 0 10px -12px #59a1b3; }
  .card-shop img {
    width: 50px;
    height: 50px; }

.carousel-autoplay .owl-nav button, .carousel1 .owl-nav button {
  background: rgba(255, 255, 255, 0.38) !important;
  top: 50%;
  transform: translateY(-50%);
  outline: none; }
  .carousel-autoplay .owl-nav button span, .carousel1 .owl-nav button span {
    position: relative;
    top: -5px;
    padding: 0 3px;
    color: white;
    font-size: 2rem; }
  .carousel-autoplay .owl-nav button.owl-prev, .carousel1 .owl-nav button.owl-prev {
    left: 10px; }
  .carousel-autoplay .owl-nav button.owl-next, .carousel1 .owl-nav button.owl-next {
    right: 10px; }

.carousel-autoplay .owl-dots, .carousel1 .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px; }

.carousel1 .owl-nav button {
  top: 40%; }

.card-tab {
  position: absolute;
  top: 25px;
  left: -2px;
  background-color: #a52b2b;
  color: white;
  padding: 3px 5px;
  z-index: 2; }
  .card-tab h5 {
    text-align: center;
    font-weight: 600; }
  .card-tab .timer {
    padding: 4px;
    margin: 0px 8px 5px 8px;
    background-color: #1f1403;
    border-radius: 2px; }

.class-title {
  background-color: #e9db90;
  display: inline;
  padding: 10px 20px; }

.class-divider {
  height: 0;
  overflow: hidden;
  border-top: 2px solid #e9db90; }

.owl-nav button {
  position: absolute;
  top: 50%; }

.carousel2 .owl-nav button {
  height: 40px;
  width: 40px;
  background: #15cbe7 !important;
  border-radius: 50%;
  outline: none; }
  .carousel2 .owl-nav button span {
    position: relative;
    top: -10px;
    color: white;
    font-size: 2.2rem; }
  .carousel2 .owl-nav button.owl-prev {
    left: -30px; }
  .carousel2 .owl-nav button.owl-next {
    right: -30px; }

.lazyload-img {
  background: linear-gradient(to bottom, transparent, transparent 10%, rgba(138, 138, 138, 0.603) 100%); }

.product-img {
  height: 130px;
  overflow: hidden; }
  .product-img.img-h-md {
    height: 200px; }
  .product-img.img-h-lg {
    height: 280px; }
  .product-img:hover {
    opacity: 0.85; }
  .product-img img {
    width: 100%; }

.product-star {
  color: #3fb3bc;
  transition: 0.3s; }
  .product-star > *:hover {
    color: #1f939c; }

.currentPrice {
  color: #FF3100; }

.discount-label {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2240px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2040%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Ediscount_label%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon/%u6298%u6578%22%20fill%3D%22%23FF5E5E%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22discount_label%22%20points%3D%2220%2024.1717194%200%2030%200%200%2040%200%2040%2030%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E");
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  z-index: 2; }

.whish-btn {
  color: #ff6b85;
  line-height: 1; }
