@model IEnumerable<TicketHubApp.Models.ViewModels.ShopEmployeeViewModel>

<nav aria-label="breadcrumb" class="shadow">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Shop/Index">商家管理系統</a></li>
        <li class="breadcrumb-item"><a href="~/Shop/EmployeeList">員工管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">員工列表</li>
    </ol>
</nav>

<div class="container employeeList">
    <div class="row">
        <div class="col-12 bg-white shadow p-3">
            <div class="col-12 m-auto">
                <div class="tableBlock pt-3">
                    <h3 class="darkGray"><b>員工列表</b></h3>
                    <table class="table table-bordered table-hover w-100 my-4" style="table-layout:fixed;">
                        <thead class="position-sticky darkGray">
                            <tr>
                                <th width="25%">姓名</th>
                                <th width="32%">帳號 (Email)</th>
                                <th width="17%">手機</th>
                                <th width="8%">性別</th>
                                <th width="8%">職位</th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody id="templateTbody" class="text-break">
                        </tbody>
                    </table>
                    <template id="employTemplate">
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                        <td class="align-middle">
                            <button class="btn redBtn removeEmploy">刪除</button>
                        </td>
                    </template>
                </div>
                <div class="btnList p-2">
                    @Html.ActionLink("新增員工", "EmployeeCreate", "Shop", null, new { @class = "btn blueBtn" })
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button id="delete" type="button" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <link href="~/Assets/CSS/Shop/Shop.min.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Assets/JavaScript/Shop/EmployeeList.js"></script>
}
