
<nav aria-label="breadcrumb" class="shadow">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Shop/Index">商家管理系統</a></li>
        <li class="breadcrumb-item"><a href="~/Shop/IssueList">商品管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">票券列表</li>
    </ol>
</nav>

<div class="container IssueList">
    <div class="row">
        <div class="col-12 bg-white shadow p-3">
            <div>
                <p>票券列表</p>
            </div>
            <div class="btnList p-2 border-top">
                @Html.ActionLink("票券上架", "CreateIssue", "Shop", null, new { @class = "btn blueBtn" })
                <select class="custom-select blueBtn custom-select-sm w-auto pr-4" id="order">
                    <option selected>編輯排序</option>
                    <option value="1">依銷售數量</option>
                    <option value="2">依上架時間</option>
                    <option value="3">依商品價錢</option>
                </select>
            </div>
            <div class="tableBlock">
                <table class="table table-hover w-100" style=“table-layout:fixed;”>
                    <thead class="position-sticky">
                        <tr>
                            <th></th>
                            <th width="10%">商品圖片</th>
                            <th width="10%">商品名稱</th>
                            <th width="20%">商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>上架時間</th>
                            <th>銷量</th>
                            <th>銷售額</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ticketList"></tbody>
                </table>
                <template id="issueTemplate">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="align-middle"><button class="btn redBtn">下架</button></td>
                </template>
            </div>
        </div>
        <div class="col-12 bg-white shadow p-3 my-5">
            <div>
                <p>歷史票券</p>
            </div>
            <div class="btnList p-2 border-top">
                <select class="custom-select btn blueBtn custom-select-sm w-auto pr-4" id="orderHistory">
                    <option selected>編輯排序</option>
                    <option value="1">依銷售數量</option>
                    <option value="2">依上架時間</option>
                    <option value="3">依商品價錢</option>
                </select>
            </div>
            <div class="tableBlock">
                <table class="table table-hover">
                    <thead class="position-sticky">
                        <tr>
                            <th></th>
                            <th width="10%">商品圖片</th>
                            <th width="10%">商品名稱</th>
                            <th width="20%">商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>上架時間</th>
                            <th>總銷量</th>
                            <th>總金額</th>
                        </tr>
                    </thead>
                    <tbody id="historyTicket"></tbody>
                    <template id="historyTemplate">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </template>
                </table>
            </div>
        </div>
    
    </div>
</div>


@section topCSS{
    <link href="~/Assets/CSS/Shop/Shop.min.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Assets/JavaScript/Shop/IssueList.js"></script>
}