@model IEnumerable<TicketHubApp.Models.ViewModels.ShopIssueViewModel>

<div class="container productList">
    <div class="row">
        <div class="col-12 bg-white shadow p-3">
            <div>
                <p>票券列表</p>
            </div>
            <div class="btnList p-2 border-top">
                @Html.ActionLink("票券上架", "CreateIssue", "Shop", null, new { @class = "btn blueBtn" })
                @*<button class="btn btn-sm blueBtn py-1 px-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        編輯排序
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">依銷售數量</a>
                        <a class="dropdown-item" href="#">依上架時間</a>
                        <a class="dropdown-item" href="#">依商品編號</a>
                    </div>*@
                <select class="custom-select blueBtn custom-select-sm w-auto pr-4" id="order">
                    <option selected>編輯排序</option>
                    <option value="1">依銷售數量</option>
                    <option value="2">依上架時間</option>
                    <option value="3">依商品編號</option>
                </select>
                <button class="btn btn-sm blueBtn py-1 px-2">刪除商品</button>
            </div>
            <div class="tableBlock">
                <table class="table table-hover">
                    <thead class="position-sticky">
                        <tr>
                            <th>
                                <input class="align-middle" type="checkbox" value="" id="defaultCheck1">
                            </th>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>最後修改時間</th>
                        </tr>
                    </thead>
                    <tbody id="ticketList">
                        @foreach (var issue in Model)
                        {
                            @Html.Partial("_IssueListTablePartial", issue)
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-12 bg-white shadow p-3 mt-5">
            <div>
                <p>歷史票券</p>
            </div>
            <div class="btnList p-2 border-top">
                <button class="btn btn-sm blueBtn py-1 px-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    編輯排序
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">依銷售數量</a>
                    <a class="dropdown-item" href="#">依上架時間</a>
                    <a class="dropdown-item" href="#">依商品價格</a>
                </div>
            </div>
            <div class="tableBlock">
                <table class="table table-hover">
                    <thead class="position-sticky">
                        <tr>
                            <th></th>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>最後修改時間</th>
                        </tr>
                    </thead>
                    <tbody id="historyTicket">
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <link href="~/Assets/CSS/Shop/productList.min.css" rel="stylesheet" />
}

@section endJS{
    <script>

        function ticketClick(tr) {
            let id = tr.children[3].innerText;
            window.location.assign("EditIssue" + "?id=" + id);
        }
    </script>

    <script>
        let selectOrder = document.getElementById("order");
        selectOrder.addEventListener("change", function ordering() {
            window.location.assign("IssueList" + "?orderValue=" + this.value);
        });

        
    </script>
}