@model TicketHubApp.Models.ViewModels.ShopIssueViewModel

<div class="container ticketDetail">
    <div class="row">
        <div class="col-12 bg-white shadow p-3 border position-relative d-flex justify-content-center">
            <button class="btn blueBtn position-absolute align-self-center" id="modify">編輯票券</button>
            @Html.Partial("_Ticket", Model)
        </div>
        <div class="col-12 bg-white shadow py-3 my-3">
            <table id="datatable" class="display">
                <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>數量</th>
                        <th>以使用數量</th>
                        <th>剩餘數量</th>
                        <th>會員手機</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section topCSS{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <link href="~/Assets/CSS/Common/Ticket.min.css" rel="stylesheet" />
    
    <link href="~/Assets/CSS/Shop/IssueDetails.min.css" rel="stylesheet" />

}

@section endJS{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "ajax": {
                    "url": 'getIssueDetailApi',
                    "data": { "Id": "@ViewBag.IssueId" }
                    },
                "scrollX": true,
                "stateSave": true,
                scrollY: 250
            });
        });

        document.getElementById("modify").addEventListener("click", function () {
            window.location.assign("EditIssue" + "?id=" + "@ViewBag.IssueId");
        });
    </script>
    
    <script src="~/Assets/JavaScript/Common/ticket.js"></script>
} 