@model TicketHubApp.Models.ViewModels.ShopIssueViewModel

<nav aria-label="breadcrumb" class="shadow">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Shop/Index">商家管理系統</a></li>
        <li class="breadcrumb-item"><a href="~/Shop/IssueList">商品管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">票券資訊</li>
    </ol>
</nav>

<div class="container issueDetail">
    <div class="row">
        <div class="col-12 bg-white shadow p-3 border position-relative d-flex justify-content-center">
            @Html.Partial("_Ticket", Model)
            <div id="mask" class="d-flex justify-content-center align-items-center rounded">
                <button class=" blueBtn rounded" id="modify">編輯票券</button>
            </div>
        </div>
        <div class="col-12 bg-white shadow py-3 my-3">
            <table id="datatable" class="display">
                <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>數量</th>
                        <th>以使用數量</th>
                        <th>剩餘數量</th>
                        <th>會員手機</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section topCSS{
    <script>
        var issueid = "@Model.Id";
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link href="~/Assets/CSS/Common/Ticket.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/Shop/Shop.min.css" rel="stylesheet" />
}

@section endJS{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="~/Assets/JavaScript/Shop/IssueDetails.js"></script>
    <script src="~/Assets/JavaScript/Common/ticket.js"></script>
} 