<link rel="stylesheet" type="text/css" href="~/Assets/CSS/Platform/GetTicketsBelongToThisUser.min.css" />

<nav aria-label="breadcrumb" class="shadow">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Platform/Index">後台管理系統</a></li>
        <li class="breadcrumb-item"><a href="~/Platform/UserList">會員管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">會員持有票券</li>
    </ol>
</nav>

<div class="shadow p-3">
    <table id="ticketTable" class="table table-bordered table-hover" style="width:100%">
        <thead>
            <tr class="text-nowrap">
                <th >票券ID</th>
                <th>票券名稱</th>
                <th>票券價格</th>
                <th>票券所屬商家名稱</th>
                <th>購買日期</th>
                <th>是否已兌換</th>
                <th>兌換日期</th>
                <th>是否已退款</th>
                <th>退款日期</th>
            </tr>
        </thead>
    </table>
</div>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />

<script>
    $(document).ready(function () {
        $('#ticketTable').DataTable({
            "ajax": '../GetTicketsByUserJson/@ViewBag.id',
            "scrollX": true,
            "stateSave": true,
            "columnDefs": [
                {
                    className : "nowrap",
                }
            ],
        });
    });
</script>
