<div class="col-md-12">
    <h2>後台管理系統 / 報表分析</h2>
</div>

<div class="view">
    <div class="card col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="memberChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="storeChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
           
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="orderChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>

    <div class="card  col-md-5 m-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <canvas id="ticketChart" width="400" height="400"></canvas>
                <a href="#" class="btn btn-secondary">YEAR 年</a>
                <a href="#" class="btn btn-secondary">MONTH 月</a>
                <a href="#" class="btn btn-secondary">WEEK 週</a>
                <footer class="blockquote-footer">by week<cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>
</div>
@section endCSS{
    <style>
        .card{
            transition:0.3s;
        }
        .card:hover{
            transform:scale(1.05);
        }
            .card .card-header {
                background-color: #26BEC9;
                opacity: 0.5;
            }
    </style>
}

@section endJS{
    <script>
        var ctx = document.getElementById('memberChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun'],
                datasets: [{
                    label: 'Members',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('storeChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun'],
                datasets: [{
                    label: 'Shops',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('orderChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun'],
                datasets: [{
                    label: 'Orders',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('ticketChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun'],
                datasets: [{
                    label: 'Tickets',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}
