@{
    ViewBag.Title = "Email Confirmed";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<div id="info-success" class="info-card my-5">
    <div class="col-12 ticketStubVertical tickets py-2 text-center">
        <h2>TicketHub</h2>
        <span class="iconify info-icon success" data-icon="ic:twotone-mark-email-read" data-inline="false"></span>
        <h3>
            <span>Email Confirmed</span>
        </h3>
        <p>
            @Html.ActionLink("Click here to login.", "Login", "Account")
        </p>
    </div>
    <div class="col-12 ticketReceiptVertical tickets text-center">
        <text class="ticketImprint">Confirmed</text>
        <div class="barcode-content">
            <svg class="barcode"></svg>
        </div>
    </div>
</div>
