@{
    ViewBag.Title = "LoginPlatform";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}
<div id="platform" class="login-card row flex-column flex-md-row my-3 my-md-5 active">
    <div class="col-12 col-md-10 ticketStub tickets d-flex flex-column flex-md-row py-2">
        <div class="col-12 col-md-6 coupon-img text-center d-flex align-items-center">
            <h1>Get More Money!</h1>
        </div>
        <div class="col-12 col-md-6 coupon-login p-2">
            <h2>Manage <span>TicketHub!</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, laudantium!</p>
            <div class="input-group">
                <span><span class="iconify" data-icon="mdi:account-circle" data-inline="false"></span> Account:</span>
                <input class="w-100 my-1" type="email" name="" id="platform-account" placeholder="example@tickethub.com" />
            </div>
            <div class="input-group">
                <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Password:</span><input class="w-100 my-1" type="password" name="" id="platform-password" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2 ticketReceipt tickets d-flex flex-row flex-md-column align-items-center justify-content-between">
        <text class="ticketImprint d-none d-md-inline">Platform</text>
        <div class="barcode-content">
            <svg class="barcode"></svg>
        </div>
        <a id="platform-login" class="login px-2" data-target="platform" href="#">Login to Manage!</a>
        <div class="ticketImprint">
            <text class="actionType">Log in </text>
            <text class="d-inline d-md-none">Platform</text>
        </div>
    </div>
</div>