@model TicketHubApp.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "LoginPlatform";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

@using (Html.BeginForm("LoginPlatform", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="platform" class="login-card row flex-column flex-md-row my-3 my-md-5 active">
        <div class="col-12 col-md-10 ticketStub tickets d-flex flex-column flex-md-row py-2">
            <div class="col-12 col-md-6 coupon-img text-center d-flex flex-column justify-content-center">
                <h1>Get More Money!</h1>
            </div>
            <div class="col-12 col-md-6 coupon-login p-2">
                <h2>Manage <span>TicketHub!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, laudantium!</p>
                <div class="input-group">
                    <div class="input-label w-100 d-flex justify-content-between">
                        <span><span class="iconify" data-icon="mdi:account-circle" data-inline="false"></span> Account: @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span>
                        <label class="m-0">Remember <input class="remember" type="checkbox" name="RememberMe" value="true" id="platform-remember" data-target="platform" /></label>
                    </div>
                    <input class="w-100 my-1" type="email" name="Email" id="platform-email" placeholder="example@tickethub.com" data-val="true" data-val-required="required" />
                </div>
                <div class="input-group">
                    <span><span class="iconify" data-icon="ic:baseline-vpn-key" data-inline="false"></span> Password: @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                    <input class="w-100 my-1" type="password" name="Password" id="platform-password" data-val="true" data-val-required="required" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 ticketReceipt tickets d-flex flex-row flex-md-column align-items-center justify-content-between">
            <text class="ticketImprint d-none d-md-inline">Platform</text>
            <div class="barcode-content">
                <svg class="barcode"></svg>
            </div>
            <button id="platform-login" class="login px-2" data-target="platform" type="submit">Login to Manage!</button>
            <div class="ticketImprint">
                <text class="actionType">Log in </text>
                <text class="d-inline d-md-none">Platform</text>
            </div>
        </div>
    </div>
}