@{
    ViewBag.Title = "註冊成功";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<div id="regist-success" class="info-card my-5">
    <div class="col-12 ticketStubVertical tickets py-2 text-center">
        <h2>TicketHub</h2>
        <span class="iconify success-icon" data-icon="clarity:success-standard-solid" data-inline="false"></span>
        <h3>
            <span>Registration Success</span>
        </h3>
        <p>Please check your email to activate your user account !</p>
        <p class="text-gray">If you don't receive an email within a few seconds, please check your spam filters</p>
    </div>
    <div class="col-12 ticketReceiptVertical tickets text-center">
        <text class="ticketImprint">Registration</text>
        <div class="barcode-content">
            <svg class="barcode"></svg>
        </div>
    </div>
</div>
