body {
  padding: 0 !important;
  background-color: #f4f4f4 !important; }
  body .container {
    padding: 0 !important; }
    body .container nav #adminPhoto {
      border-radius: 50%; }
    body .container .sidebar .card-body {
      transition: 0.3s; }
      body .container .sidebar .card-body a {
        text-decoration: none;
        color: black; }
      body .container .sidebar .card-body:hover {
        background-color: rgba(240, 240, 240, 0.5); }
      body .container .sidebar .card-body:active {
        border-left: 5px solid #fcc16d;
        background-color: white; }
        body .container .sidebar .card-body:active a {
          color: #fcc16d; }
