@model IEnumerable<TicketHubApp.Models.ViewModels.PlatformShopViewModel>

@{
    ViewBag.Title = "Index";
}
<nav aria-label="breadcrumb" class="shadow">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">後台管理系統</a></li>
        <li class="breadcrumb-item"><a href="#">商家管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">商家列表</li>
    </ol>
</nav>

<div class="shadow p-3">
    <table class="table display" id="shopTable" style="width:100%">
        <thead>
            <tr>
                <th>商家代號</th>
                <th>商家名稱</th>
                <th>電子郵件</th>
                <th>連絡電話</th>
                <th>申請日期</th>
                <th>修改日期</th>
            </tr>
        </thead>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#shopTable').DataTable({
            "ajax": '../PlatformShop/GetShopsJson',
            "scrollX": true,
            "stateSave": true,
        });
    });
</script>