*{
    margin: 0 !important;
    box-sizing : border-box;
}

body{
    padding: 0px !important;
}
.container{
    padding : 0px !important;
}
.row{
    padding : 0px !important;
    display :flex;
}
nav{
    font-size : 30px;
    background-color: #26BEC9 !important;
}
.view{
    display:flex;
    flex-wrap:wrap;
}

.container .row ul li{
    padding: 40px 30px;
    transition : 0.3s;
    color:black;
}
    .container .row ul li:hover{
        color: white;
        background-color: #26BEC9;
        transform : scale(1.05);
    }
