@import "../_variables.scss";
$types: customer, shop, platform;
$colors8: $cust-color-8, $shop-color-8, $platform-color-8;
$colors9: $cust-color-9, $shop-color-9, $platform-color-9;

.bottom-strip-home {
    border-bottom: none;
}

.bottom-strip-customer, .bottom-strip-shop, .bottom-strip-platform {
    border-bottom: 10px solid;
}

.bottom-strip-customer {
    border-bottom-color: $cust-color-5;
}

.bottom-strip-shop {
    border-bottom-color: $shop-color-5;
    position: sticky;
    top: -70px;
    z-index: 2;
}

.bottom-strip-platform {
    border-bottom-color: $platform-color-5;
    position: sticky;
    top: -70px;
    z-index: 2;
}

.profile-logo {
    width: 50px;
    height: 50px;
}

.profile-name {
    cursor: default;
}

.cart-link {
    position: relative;
    cursor: pointer;
    color: $cust-color-8;
    transition: .25s;
    padding: 25px 0;
}

.span-badge {
    position: absolute;
    border-radius: 50%;
    padding: 3px 5px;
    top: 10px;
    right: -4px;
    font-size: 12px;
    color: white;
    background-color: $shop-color-8;
    letter-spacing: 0;
}

.cart-dropdown-menu {
    width: 450px;
    max-height: 500px;
    overflow: auto;
    top: 50px !important;
    right: -35px !important;
}

#btnScroll {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: $cust-color-8;
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    z-index: 2;

    span {
        display: block;
        margin-top: -5px;
    }

    &:active {
        background-color: $cust-color-9;
    }

    &:hover {
        background-color: $cust-color-9;
        transition: ease 0.3s;
    }

    @for $i from 1 through length($types) {
        &.#{nth($types, $i)} {
            background-color: nth($colors8,$i);

            &:active {
                background-color: nth($colors9,$i);
            }

            &:hover {
                background-color: nth($colors9,$i);
                transition: ease 0.3s;
            }
        }
    }
}

@import "./_cart.scss";


// fb messenger
/*.fb_dialog_content iframe{
    bottom: 80px !important;
    right: 0 !important;
}

.fb-customerchat iframe {
    bottom: 135px !important;
    max-height: calc(100% - 150px) !important;
}*/