.tag {
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0.1rem 0.1rem;
    padding: 3px 5.5px;

    &.tag-purple {
        color: $purple-4951DE;
        border: 1px solid $purple-4951DE;
    }

    &.tag-green {
        border: 1px solid $green-35821e;
        color: $green-35821e;
    }

    &.tag-red {
        border: 1px solid $shop-color-11;
        color: $shop-color-11;
    }

    &.tag-orange {
        border: 1px solid $orange-ff961f;
        color: $orange-ff961f;
    }

    &.tag-blue {
        border: 1px solid $blue-305ba5;
        color: $blue-305ba5;
    }
}
