@import "../_variables.scss";

* {
    font-family: 微軟正黑體, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

body.manage-platform {
    background-color: $background;
}

a {
    text-decoration: none;
    color: $black-333333;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.btn-cust {
    color: $back-paper;
    background-color: $cust-color-8;
    border-color: $cust-color-8;

    &:hover {
        background-color: $cust-color-9;
    }
}

.btn-shop {
    color: $back-paper;
    background-color: $shop-color-8;
    border-color: $shop-color-8;

    &:hover {
        background-color: $shop-color-9;
    }
}

.btn-platform {
    color: $back-paper;
    background-color: $platform-color-8;
    border-color: $platform-color-8;

    &:hover {
        background-color: $platform-color-9;
    }
}

@import "./_font.scss";
@import "./_navbar.scss";
@import "./_sideMenu.scss";
