@import "../_variables.scss";

* {
    font-family: 微軟正黑體, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

body.manage-platform {
    background-color: $background-white;
}

a {
    text-decoration: none;
    color: $text-black;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

$types: cust, shop, platform;
$colors8: $cust-color-8, $shop-color-8, $platform-color-8;
$colors9: $cust-color-9, $shop-color-9, $platform-color-9;

@for $i from 1 through length($types) {
    .btn-#{nth($types,$i)} {
        color: $paper-white;
        background-color: nth($colors8,$i);
        border-color: nth($colors8,$i);

        &:hover {
            color: white;
            background-color: nth($colors9,$i);
        }
    }

    .hov-color-#{nth($types,$i)} {
        transition: .25s;

        &:hover {
            color: nth($colors8,$i);
        }
    }

    .active-color-#{nth($types,$i)} {
        &.active {
            background-color: transparent;

            & > * {
                color: nth($colors8,$i);
                font-weight: bolder;
            }
        }
    }

    .active-bg-color-#{nth($types,$i)} {
        &.active {
            background-color: nth($colors8,$i);
            border-color: nth($colors8,$i);

            & > * {
                color: white;
                font-weight: bolder;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@import "./_font.scss";
@import "./_topbar.scss";
@import "./_navbar.scss";
@import "./_footer.scss";
@import "./_sideMenu.scss";
@import "../_root.scss";

.tag {
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0.1rem 0.1rem;
    padding: 3px 5.5px;

    &.tag-purple {
        color: $purple-4951DE;
        border: 1px solid $purple-4951DE;
    }

    &.tag-green {
        border: 1px solid $green-35821e;
        color: $green-35821e;
    }

    &.tag-red {
        border: 1px solid $shop-color-11;
        color: $shop-color-11;
    }

    &.tag-orange {
        border: 1px solid $orange-ff961f;
        color: $orange-ff961f;
    }

    &.tag-blue {
        border: 1px solid $blue-305ba5;
        color: $blue-305ba5;
    }
}

