@import "../_variables.scss";

* {
    font-family: 微軟正黑體, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

body.manage-platform {
    background-color: $background-white;
}

a {
    text-decoration: none;
    color: $text-black;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

$types: cust, shop, platform;
$colors8: $cust-color-8, $shop-color-8, $platform-color-8;
$colors9: $cust-color-9, $shop-color-9, $platform-color-9;

@for $i from 1 through length($types) {
    .btn-#{nth($types,$i)} {
        color: $paper-white;
        background-color: nth($colors8,$i);
        border-color: nth($colors8,$i);

        &:hover {
            color: white;
            background-color: nth($colors9,$i);
        }
    }

    .hov-color-#{nth($types,$i)} {
        transition: .25s;

        &:hover {
            color: nth($colors8,$i);
        }
    }

    .active-color-#{nth($types,$i)} {
        &.active {
            background-color: transparent;

            & > * {
                color: nth($colors8,$i);
                font-weight: bolder;
            }
        }
    }
}

@import "./_font.scss";
@import "./_topbar.scss";
@import "./_navbar.scss";
@import "./_footer.scss";
@import "./_sideMenu.scss";
