/*partial ticket*/
.issue h3 {
  font-weight: 700; }

.issue .wishHeart {
  width: 24px;
  height: 24px;
  color: #d87093;
  position: absolute;
  right: 10px;
  top: 10px; }
  .issue .wishHeart:hover {
    cursor: pointer; }

.issue .ticketImg {
  width: 270px;
  background-repeat: no-repeat;
  background-size: cover; }

.issue .description {
  font-size: 14px;
  color: #666666;
  height: 2.5rem;
  overflow: hidden; }

.issue .star {
  color: #aaa; }

.issue .star-checked {
  color: #26bec9; }

.issue .ticketListOldPrice {
  font-size: 12px;
  color: #999999;
  text-decoration: line-through; }

.issue .ticketListSalesPrice {
  font-size: 18px;
  color: #26bec9;
  font-weight: 700; }
  .issue .ticketListSalesPrice span {
    font-size: 20px;
    color: #26bec9; }
