/*partial ticket*/
.ticket {
    h3 {
        font-weight: 700;
    }

    .wishHeart {
        width: 24px;
        height: 24px;
        color: #999999;
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
            color: #ccc;
        }
    }

    .ticketImg {
        background-image: url(/Assets/Images/ticket_test_Img.jpg);
        width: 270px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .description {
        font-size: 14px;
        color: #666666;
        height: 2.5rem;
        overflow: hidden;
    }

    .star {
        color: #aaa;
    }

    .star-checked {
        color: #26bec9;
    }

    .ticketListOldPrice {
        font-size: 12px;
        color: #999999;
        text-decoration: line-through;
    }

    .ticketListSalesPrice {
        font-size: 14px;
        color: #999999;
        font-weight: 700;

        span {
            font-size: 20px;
            color: #26bec9;
        }
    }
}
