
@{
    ViewBag.Title = "ProductDescription";
}

@Styles.Render("~/bundles/css/ProductDescription")

<div class="container">
    <div class="foodstyle">
        <div class="row d-flex justify-content-between">
            <ol class="row d-flex ">
                <li class="breadcrumb-item"><a href="#">台北</a></li>
                <a class="breadcrumb-item active" aria-current="page" href="#">台菜</a>
                <!-- 文字無法貼齊 -->
            </ol>
            <div>
                <p class="text-muted d-flex justify-content-end">商品編號 #567890</p>
            </div>
        </div>


        <div class="text-white banner">
            <div class="img-banner rounded"></div>
        </div>

        <!-- 商品標頭、簡介 -->
        <div class="row main mt-3">

            <div class="col-8">
                <h1>若羚珍饌重慶麻辣火鍋 | 雙人珍饌</h1>
                </br>
                <div class="location">
                    <ol class="row">

                        <span class="iconify place_marker" data-icon="ic:baseline-place" data-inline="false"></span>
                        <li class="breadcrumb-item"><a href="#">新北市</a></li>
                        <a class="breadcrumb-item active" aria-current="page" href="#">新店區</a>
                    </ol>
                </div>

                <div class="description-context">
                    <h3>餐廳簡介</h3>
                    <hr>
                    <p>
                        來自基隆，在地人激推的麻辣火鍋名店──【若羚珍饌重慶麻辣火鍋】，現在想一嚐它的美味，不用再遠赴基隆，因為台北永春也吃得到！
                        在基隆當地可是有口皆碑的【若羚珍饌重慶麻辣火鍋】，起家於三位遠渡重洋的大陸新娘，從重慶而來的正宗麻辣味，揀選了數種辛香料費心燉製，那紅通通的湯頭，飽含著所有的用心與功夫，完美地將重慶道地的麻辣呈現出來，讓台灣的朋友們，也能品味到麻辣湯頭的精隨，高達五千人按讚的粉絲專頁，更讓人感受到它的高人氣！嗜好吃辣的朋友，怎麼能錯過這人氣爆棚的名店呢？
                    </p>
                </div>

                <div class="mt-3 explaininfo">
                    <!-- 票券可使用資訊 -->
                    <!-- <div class="col-8"> -->
                    <div class="">
                        <!-- 有制式form 由客戶新增 -->
                        <h3>餐廳資訊</h3>
                        <hr>
                        <p>營業時間:</p>
                        <div class="row">
                            <p class="col-6">電話: 02-2222-4455</p>
                            <p class="col-6">傳真: 02- 2722-4455 </p>
                        </div>
                        <p>Email: </p>
                        <p>地址: </p>
                        <p>店家官網: https://www.gomaji.com/store/146299?pid=256640#package</p>
                    </div>
                    <!-- </div> -->
                </div>

                <!-- 須由客戶自行新增 -->
                <h3 id="exContent" class="mt-3">優惠內容</h3>
                <hr>
                <li>雙人珍饌</li>
                <li>優惠期間: 2020/09/10 ~ 2021/09/09</li>
                <li>請提前預約，並告知使用ticketHub票券</li><br />
                <p>
                    重慶麻辣鍋
                    品嚐鍋物料理，湯頭絕對是能決定這一餐好不好吃的關鍵！【若羚珍饌重慶麻辣火鍋】維持了重慶道地的口味，紅如烈火的湯頭，只涮肉，不喝湯，將重慶吃鍋的文化特色，完整地搬到了台灣。使用辣椒、大紅袍花椒、青花椒…等嚴選辛香料連續爆香熱炒八小時製成基底，嚐起來香、麻、辣三種麻辣鍋不可或缺的元素都相當到味，絕對正宗！這香中帶辣、辣而不嗆，並酥麻過癮的滋味，涮入嫩肉、時蔬品味，都是讓人難以抵擋的美味！嗜辣的朋友，絕對不能錯過這一鍋！
                </p>
                <!-- 固定 -->
                <h3 id="exHowToUse" class="mt-3">如何使用</h3>
                <hr>
                <li>憑證使用方式</li>
                <p>現場請出示電子憑證</p>
                <li>憑證兌換期限</li>
                <P>票券優惠期間須按照票券日期，逾期須補齊差額至原價</P>
                <br />

            </div>
            <div class="col-4">
                <div class="rightcar">
                    <div class="card">
                        <div class="card-body">
                            <h4 id="price" class="card-title">TWD 500</h4>
                            <p class="originprice">原價 TWD 800</p>
                            <a href="#" class="btn btn-info cartbtn w-100 text-center">加入購物車</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mapApi"></div>

<!-- 推薦行程 -->
<div class="bg-light p-5">
    <div class=" text-center">
        <h3>更多推薦行程</h3>
    </div>
    <div class="mt-4 mb-5">
        <div class="row">
            <div class="carousel2 owl-carousel todaysubspecial-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active">
                            <div class="col-md-12">
                                <div class="product-item">
                                    <a href="">
                                        <div class="product-img">
                                            <div class="discount-label">7.3折</div>
                                            <img class="img-sm" data-src="" alt="台北君悅酒店-凱菲屋"
                                                 src="https://picsum.photos/400/400/?random=3" style="">
                                        </div>
                                        <div class="product-detail">
                                            <h3>台北君悅酒店-凱菲屋</h3>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="priceBox">
                                                        <div class="price d-flex">
                                                            <div class="original line-through ml-auto">$3872</div>
                                                            <div class="current">
                                                                $2840<span class="t-09">起</span>
                                                            </div>
                                                        </div>
                                                        <div class="Remaining">剩37份</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addcart" type="button">放入購物車</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/js/ProductDescription")
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbOibXZPeCKpq5tbdQZD0B5By6Z3MkQHc&callback=initMap">
    </script>

}