
@{
    ViewBag.Title = "ProductDetail";
}

<h2>ProductDetail</h2>


        //    public ActionResult Details(Guid? id)
        //    {
        //        if (id == null)
        //        {
        //            return new HttpStatusCodeResult(HttpStatusCode.BadRequest);
        //        }
        //        ProductDetailViewModel productDetailViewModel = db.ProductDetailViewModels.Find(id);
        //        if (productDetailViewModel == null)
        //        {
        //            return HttpNotFound();
        //        }
        //        return View(productDetailViewModel);
        //    }

        //    public ActionResult ProductDescription()
        //    {
        //        return View();
        //    }
        //}
