
<div class="container">
    <div class="row">
        <div class="col-12 bg-white shadow p-3">
            <div>
                <p>票券列表</p>
            </div>
            <div class="btnList p-2 border-top">
                @Html.ActionLink("票券上架", "CreateProduct2", "Store", null, new { @class = "btn" })
                <button class="btn btn-sm py-1 px-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    編輯排序
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">依銷售數量</a>
                    <a class="dropdown-item" href="#">依上架時間</a>
                    <a class="dropdown-item" href="#">依商品編號</a>
                </div>
                <button class="btn btn-sm py-1 px-2">刪除商品</button>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <input class="align-middle" type="checkbox" value="" id="defaultCheck1">
                            </th>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>最後修改時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="align-middle" type="checkbox" value="" id="defaultCheck1"></td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-12 bg-white shadow p-3 mt-5">
            <div>
                <p>歷史票券</p>
            </div>
            <div class="btnList p-2 border-top">
                <button class="btn btn-sm py-1 px-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    編輯排序
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">依銷售數量</a>
                    <a class="dropdown-item" href="#">依上架時間</a>
                    <a class="dropdown-item" href="#">依商品編號</a>
                </div>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>商品圖片</th>
                            <th>商品名稱</th>
                            <th>商品編號</th>
                            <th>價格</th>
                            <th>商品狀態</th>
                            <th>最後修改時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <style>
/*        .btnList button {
            background-color: #2a94db;
            border: #2a94db;
            color: #fff;
        }*/

        .table th{
            padding: 10px;
        }

        .table td {
            background-color: #eaeaea;
            color: #444;
            padding: 10px;
            border-color: #fff;
            border-width: 2px;  
        }

        .table tbody tr:hover td {
            background-color: #fff;
            color: #26bcc7;
            font-size: 16px;
        }

        .btnList, .table, .dropdown-menu {
            font-size: 12px;
        }

        .btn {
            background-color: #2a94db;
            color: #fff;
            border: 1px solid #2a94db;
            border-radius: 2px;
            padding: 3px 10px;
        }

            .btn:hover {
                background-color: #fff;
                color: #2a94db;
            }

            .btn:focus {
                outline: none;
                box-shadow: none;
            }

            .btn:active {
                background-color: #2a94db;
                color: #fff;
            }
    </style>
}

@section endJS{
    <script>
        
    </script>    
    
}