

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="description bg-white my-3 p-3 shadow">
                <form class="d-flex flex-wrap">
                    <div class="form-group col-6">
                        <label for="formGroupExampleInput">商店名稱</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入商店名稱">
                    </div>
                    <div class="form-group col-6">
                        <label for="formGroupExampleInput">連絡電話</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入連絡電話">
                    </div>
                    <div class="form-group col-6">
                        <label for="formGroupExampleInput">傳真號碼</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入傳真號碼">
                    </div>
                    <div class="form-group col-6">
                        <label for="formGroupExampleInput">地址</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入地址">
                    </div>
                    <div class="form-group col-12">
                        <label for="formGroupExampleInput">Email</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入Email">
                    </div>
                    <div class="form-group col-12">
                        <label for="formGroupExampleInput">網址連結</label>
                        <input type="text" class="form-control form-control-sm" id="" placeholder="請輸入網址連結">
                    </div>
                </form>
            </div>
            <div class="upLoadImg bg-white my-3 p-3 shadow">
                <form action="/somewhere/to/upload" enctype="multipart/form-data">

                    <input type="file" onchange="readURL(this)" targetID="preview_progressbarTW_img" accept="image/gif, image/jpeg, image/png" />

                    <img id="preview_progressbarTW_img" src="#" />
                </form>
            </div>
            <div class="description bg-white my-3 p-3 shadow">
                <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1">商品描述</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                </div>
                <div class="col-12">
                    <button class="ml-auto d-block">儲存</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section endJS{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var imageTagID = input.getAttribute("targetID");
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.getElementById(imageTagID);
                    img.setAttribute("src", e.target.result)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>    
}


@section topCSS{
    <style>
        .form-control:focus {
            box-shadow: none;
        }
        button {
            background-color: #2a94db;
            color: #fff;
            border: 1px solid #2a94db;
            border-radius: 2px;
            padding: 3px 10px;
        }
        button:hover{
            background-color: #fff;
            color: #2a94db;
        }
        button:focus{
            outline: none;
        }
        button:active{
            background-color: #2a94db;
            color: #fff;
        }
    </style>    
}

