thead {
  background-color: #ff9dad; }

.btnList {
  font-size: 12px; }
  .btnList .grayBtn {
    background-color: #9f9f9f;
    color: #fff;
    border: 1px solid #9f9f9f;
    border-radius: 2px;
    padding: 5px 12px; }
    .btnList .grayBtn:hover {
      background-color: #fff;
      color: #9f9f9f;
      cursor: pointer;
      font-weight: bold;
      border-width: 1px; }
    .btnList .grayBtn:focus {
      outline: none;
      box-shadow: none; }
    .btnList .grayBtn:active {
      background-color: #9f9f9f;
      color: #fff; }

.redBtn {
  background-color: #ff8499;
  color: #fff;
  border: 1px solid #ff8499;
  border-radius: 2px;
  padding: 1px 2px; }
  .redBtn:hover {
    background-color: #fff;
    color: #ff8499; }
  .redBtn:focus {
    outline: none;
    box-shadow: none; }
  .redBtn:active {
    background-color: #ff8499;
    color: #fff; }
