.ticket {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  background-color: #7f9cac;
  box-shadow: 1px 1px 5px 0px; }
  .ticket:after {
    content: '';
    position: absolute;
    top: 2px;
    height: 146px;
    width: 6px;
    right: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #7f9cac 50%, #7f9cac 100%) -3px -8px/16px 16px repeat-y; }
  .ticket:before {
    content: '';
    position: absolute;
    top: 2px;
    height: 146px;
    width: 6px;
    left: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #7f9cac 50%, #7f9cac 100%) -7px -8px/16px 16px repeat-y; }
  .ticket .ticket-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px dashed #f3f9f9;
    color: #f3f9f9;
    background-color: #7f9cac; }
    .ticket .ticket-content .ticket-title {
      color: #7f9cac;
      font-size: 24px;
      font-weight: 900;
      background-color: #f3f9f9; }
    .ticket .ticket-content .iconify {
      width: 50px;
      height: 50px; }
    .ticket .ticket-content .counter {
      font-size: 50px; }

.chartHeader {
  border-color: #26bcc7 !important;
  border-width: 2px !important; }
  .chartHeader button {
    border: 1px solid #4da9db;
    background-image: linear-gradient(90deg, #4da9db 100%, transparent 100%);
    background-repeat: no-repeat;
    transition: .5s;
    line-height: 18px;
    width: 30px;
    height: 24px;
    font-size: 14px; }
    .chartHeader button:hover {
      color: #fff; }
    .chartHeader button:focus {
      outline-style: none; }

#week {
  background-color: #4da9db;
  color: #fff;
  background-position: 30px; }

#month {
  background-color: #fff;
  color: #4da9db;
  background-position: -30px; }

.topTable p {
  background-color: #4caf50;
  position: relative;
  color: #fff;
  top: -30px;
  font-size: 24px; }

.topTable .table {
  margin-top: -28px;
  font-size: 12px; }
  .topTable .table th {
    color: #4caf50;
    border: none; }
