.blueBtn {
    background-color: #2a94db;
    color: #fff;
    border: 1px solid #2a94db;
    border-radius: 2px;
    padding: 5px 10px;
    opacity: 0;
    font-size: 20px;
    z-index: 1;
    &:hover {
        background-color: #fff;
        color: #2a94db;
        &~.issue:after{
            display: block;
        }
        opacity: 1;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        background-color: #2a94db;
        color: #fff;
    }
}

#datatable_filter input {
    border-radius: 5px;
}


.issue{
    border: 1px solid lightgray;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    &:hover{
        &:after{
            display: block;
        }
        &+button{
            opacity: 1;
        }
    }
}
