.blueBtn {
    background-color: #2a94db;
    color: #fff;
    border: 1px solid #2a94db;
    border-radius: 2px;
    padding: 5px 10px;
    opacity: 0;
    font-size: 20px;
    &:hover {
        background-color: #fff;
        color: #2a94db;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:active {
        background-color: #2a94db;
        color: #fff;
    }
}

#datatable_filter input {
    border-radius: 5px;
}

.ticket{
    border: 1px solid lightgray;
}

#mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    margin: 32px 16px;
    &:hover{
        opacity: 1;
        button{
            opacity: 1;
        }
    }
}
