.IssueList .tableBlock {
  overflow: auto;
  height: 300px; }

.IssueList .table {
  font-size: 12px; }
  .IssueList .table thead {
    height: 0px; }
    .IssueList .table thead th {
      padding: 10px; }
  .IssueList .table tbody tr td {
    background-color: #eaeaea;
    color: #444;
    padding: 10px;
    border-color: #fff;
    border-width: 2px; }
    .IssueList .table tbody tr td img {
      height: 40px; }
  .IssueList .table tbody tr:hover td {
    background-color: #fff;
    color: #26bcc7;
    cursor: pointer; }
