.productList .tableBlock {
  overflow: auto;
  height: 300px; }

.productList .table {
  font-size: 12px; }
  .productList .table thead {
    height: 0px; }
    .productList .table thead th {
      padding: 10px; }
  .productList .table tbody tr td {
    background-color: #eaeaea;
    color: #444;
    padding: 10px;
    border-color: #fff;
    border-width: 2px; }
    .productList .table tbody tr td img {
      height: 40px; }
  .productList .table tbody tr:hover td {
    background-color: #fff;
    color: #26bcc7;
    font-size: 16px;
    cursor: pointer; }

.productList .btnList {
  font-size: 12px; }
  .productList .btnList .blueBtn {
    background-color: #2a94db;
    color: #fff;
    border: 1px solid #2a94db;
    border-radius: 2px;
    padding: 3px 10px; }
    .productList .btnList .blueBtn:hover {
      background-color: #fff;
      color: #2a94db; }
    .productList .btnList .blueBtn:focus {
      outline: none;
      box-shadow: none; }
    .productList .btnList .blueBtn:active {
      background-color: #2a94db;
      color: #fff; }
