
.SalesReport {
    p {
        margin: 0;
    }

    .StoreReport {
        .searchBtn {
            background-color: #2a94db;
            color: #fff;
            border: 1px solid #2a94db;
            padding: 3px 10px;
        }

        .searchBtn:hover {
            cursor: pointer;
            background-color: #fff;
            color: #2a94db;
        }

        .searchBtn:focus {
            outline: none;
        }

        .searchBtn:active {
            background-color: #2a94db;
            color: #fff;
        }

        .StoreRepoTitle {
            font-size: 14px;
            color: #444444;
        }

        .StoreRepoNote {
            font-size: 12px;
            color: #a1a7ab;
        }

        .report-title {
            background-color: $shop-color-4;
            color: white;
            font-weight: bold;
        }
    }


    .ticket {
        width: 300px;
        height: 60px;
        padding: 0px;


        .ticket-icon {
            width: 60px;
            background-color: rgb(127, 156, 172);

            .iconify {
                width: 40px;
                height: 40px;
                /*padding-bottom: 5px;*/
            }
        }

        .ticket-content {
            background-color: rgba(127, 156, 172, .5);
            border-left: 1px dashed rgb(243, 249, 249);
            color: #fff;

            .ticket-title {
                font-size: 18px;
                font-weight: 900;
            }

            .counter {
                font-size: 28px;
                line-height: 28px;
            }
        }
    }


    .chartHeader {
        border-color: #26bcc7 !important;
        border-width: 2px !important;
        font-weight: 800;
        color: dimgray;

        button {
            border: 1px solid #4da9db;
            background-image: linear-gradient(90deg, #4da9db 100%, transparent 100%);
            background-repeat: no-repeat;
            transition: .5s;
            line-height: 18px;
            width: 30px;
            height: 24px;
            font-size: 14px;
            border-radius: 0;

            &:hover {
                color: #fff;
            }

            &:focus {
                outline-style: none;
            }
        }

        #week {
            background-color: #4da9db;
            color: #fff;
            background-position: 30px;
        }

        #month {
            background-color: #fff;
            color: #4da9db;
            background-position: -30px;
        }
    }



    .topTable {
        p {
            background-color: $shop-color-4;
            position: relative;
            color: #fff;
            top: -30px;
            font-size: 24px;
        }

        .table {
            margin-top: -28px;
            font-size: 12px;

            th {
                color: $shop-color-5;
                border: none;
            }
        }
    }
}
