.shopLayout {
  background-color: #f4f4f4; }
  .shopLayout .navbar {
    border-bottom: 10px solid #ff8499; }
    .shopLayout .navbar .navbar-brand {
      color: #ff8499;
      font-weight: 900; }
  .shopLayout .sidebar {
    top: 0px;
    height: 600px;
    background-color: #fff;
    color: #212529; }
    .shopLayout .sidebar ul {
      margin: 0;
      padding: 0; }
    .shopLayout .sidebar .shopLogo {
      height: 150px;
      background-image: url("../../Images/shop_logo.jpg");
      background-size: cover;
      background-position: center;
      /*border: 5px solid $shop-color-5;*/ }
    .shopLayout .sidebar .collapse {
      background-color: #fff; }
      .shopLayout .sidebar .collapse li {
        cursor: pointer; }
        .shopLayout .sidebar .collapse li:hover {
          cursor: pointer;
          color: #fff;
          background-color: #eeeeee; }
          .shopLayout .sidebar .collapse li:hover a {
            color: #000; }
    .shopLayout .sidebar .div {
      cursor: pointer; }
    .shopLayout .sidebar .liColor {
      color: #212529;
      text-decoration: none; }
      .shopLayout .sidebar .liColor:hover {
        text-decoration: none; }
  .shopLayout .catalogue {
    height: 30px; }

* {
  list-style-type: none; }
