<div class="footbg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="f-item">
                    <div class="icon">
                        <span class="iconify text-xl-3" data-icon="fa-solid:utensils" data-inline="false"></span>
                    </div>
                    <div class="text">
                        <h5>熱門類別</h5>
                        <hr>
                        <a href="/Home/Search/Ticket/式">異國料理</a>
                        <a href="/Home/Search/Ticket/吃到飽">自助百匯</a>
                        <a href="/Home/Search/Ticket/早午餐">早午餐</a>
                        <a href="/Home/Search/Ticket/下午茶">下午茶</a>
                        <a href="/Home/Search/Ticket/素食">素食餐廳</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="f-item">
                    <div class="icon">
                        <span class="iconify text-xl-3" data-icon="fa-solid:home" data-inline="false"></span>
                    </div>
                    <div class="text">
                        <h5>合作夥伴</h5>
                        <hr>
                        <a href="/Account/ShopApply">成為供應商</a>
                        <a href="/Account/Login?type=shop">供應商登入</a>
                        <a href="">行銷規劃</a>
                        <a href="">人才招募</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="f-item">
                    <div class="icon">
                        <span class="iconify text-xl-3" data-icon="fa-solid:ticket-alt"
                              data-inline="false"></span>
                    </div>
                    <div class="text">
                        <h5>票劵資訊</h5>
                        <hr>
                        <a href="">瀏覽紀錄</a>
                        <a href="/Home/Cart">訂單查詢</a>
                        <a href="/Account/Login">消費者登入</a>
                        <a href="/Customer/CustomerInfo">票劵使用紀錄</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="f-item">
                    <div class="icon">
                        <img src="/Assets/Images/Home/logo.png" alt="logo">
                    </div>
                    <div class="socials d-flex flex-column justify-content-center align-items-center m-auto font-weight-bolder">
                        <h4>TicketHub</h4>
                        <div class="social-btns d-flex">
                            <button class="d-flex justify-content-center align-items-center mx-1">
                                <span class="iconify " data-icon="ant-design:twitter-outlined" data-inline="false"></span>
                            </button>
                            <button class="d-flex justify-content-center align-items-center mx-1">
                                <span class="iconify " data-icon="bx:bxl-facebook" data-inline="false"></span>
                            </button>
                            <button class="d-flex justify-content-center align-items-center mx-1">
                                <span class="iconify " data-icon="bx:bxl-pinterest-alt" data-inline="false"></span>
                            </button>
                            <button class="d-flex justify-content-center align-items-center mx-1">
                                <span class="iconify " data-icon="bx:bxl-linkedin" data-inline="false"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footbar">
    <p>Copyright © 2020 TicketHub</p>
</div>