@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown member-dropdown member-item mx-3"
        style="display: flex;align-items: center;padding-bottom: 0;">
        <a class="mt-2" data-toggle="dropdown">
            <div class="editor-logo"></div>
        </a>
        <ul aria-labelledby="dLabel" class="dropdown-menu " dropdown-menu-right>
            <li class="list-item profile">
                <div class="editor-logo"></div>
                <div class="list-item-title">
                    <div class="title">@User.Identity.GetUserName()</div>
                </div>
            </li>
            <li class="dropdown-divider"></li>
            <li class="list-item">
                @Html.ActionLink("會員資訊", "CustomerPage", "Customer")
            </li>
            <li class="list-item">
                <a id="side-navber-order" href="">
                    <span class="list-item-title">訂單管理</span>
                </a>
            </li>
            <li class="list-item">
                <a id="side-navber-msg" href="">
                    <span class="list-item-title">訊息管理</span>
                </a>
            </li>
            <li class="list-item">
                <a id="side-navbar-wish-list" href="">
                    <span class="list-item-title">我的收藏</span>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="logout">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        登出
                    </a>
                }
            </li>
        </ul> <span class="dropdown-arrow"></span>
    </li>
}
else
{
    <li class="dropdown member-dropdown member-item mx-3"
        style="display: flex;align-items: center;padding-bottom: 0;">
        <div class="editor-logo mr-3"></div>
        @Html.ActionLink("登入 / 註冊", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info" })
    </li>
}